.sidebar {
  margin-top: 10px;
  height: 79vh;
  overflow-y: scroll;
  padding-right: 20px;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background: linear-gradient(
    180deg,
    rgba(var(--background-start-rgb), 0) 9%,
    rgba(var(--background-end-rgb), 0.1)
  );
}

.sidebar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(39, 102, 241, 0.5),
    rgba(59, 161, 242, 0.5),
    rgba(81, 216, 145, 0.5),
    rgba(225, 244, 62, 0.5)
  );
}
